/* Variables */
:root
{
    --color-bg: rgb(50, 50, 50);
    --color-section-header-bg: rgb(60, 60, 60);
    --color-section-header-bg-hover: rgb(80, 80, 80);
    --color-section-header-border: rgb(200, 200, 200);
    --color-text: rgb(240, 240, 240);
    --color-text-important: rgb(255, 130, 0);
    --color-footer-gradient-end: rgb(10, 10, 10);
}

/* Global styles */
*
{
    margin: 0;
    padding: 0;
    font-family: 'Verdana', 'Helvetica', 'Arial';
    font-size: small;
    text-align: justify;
    color: var(--color-text);
}

/* Individual styles */
body
{
    min-height: 100vh;
    background-color: var(--color-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main
{
    width: 80%;
    flex-grow: 1;
}

header
{
    margin-bottom: 2em;
}

.title
{
    font-size: 2em;
    font-weight: bolder;
    color: var(--color-text-important);
}

.subtitle
{
    font-weight: bold;
}

.title,
.subtitle
{
    padding: 0.5em;
    text-align: center;
}

section
{
    padding: 1em 0;
}

section > :last-child
{
    margin-bottom: 1em;
}

section h2
{
    font-size: 1.2em;
    color: var(--color-text-important);
    padding: 0.5em;
    cursor: pointer;
    position: sticky;
    top: 0;
    background-color: var(--color-section-header-bg);
    border: solid 2px var(--color-section-header-border);
    border-radius: 8px;
    transition-duration: 0.2s;
}

section h2:hover
{
    background-color: var(--color-section-header-bg-hover);
    transition-duration: 0.2s;
}

section h2::before
{
    content: "\25BC";
    display: inline-block;
    transition-duration: 0.2s;
}

section h2.section-closed::before
{
    content: "\25BD";
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    transition-duration: 0.2s;
}

section h2.section-closed ~ *
{
    display: none !important;
}

section h3
{
    font-size: 1.2em;
    color: var(--color-text-important);
    padding: 0.5em 0 0.2em;
}

section p
{
    margin: 0.8em 0;
    padding: 0 1em;
}

.image-single
{
    display: flex;
    justify-content: center;
}

section img
{
    max-height: 25em;
    max-width: 55em;
    border-radius: 10px;
    box-shadow: 0 0 8px 2px black;
}

section ul,
section ol
{
    padding: 0 3em;
}

section ul li,
section ol li
{
    padding: 0.4em 0;
}

.image-row
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.image-row img
{
    max-width: 45%;
    margin: 0.5em 0;
}

.footer_pusher
{
    flex-grow: 2;
    flex-shrink: 0;
}

footer
{
    width: 100%;
    padding: 1em 0;
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: linear-gradient(var(--color-bg), var(--color-footer-gradient-end));
}

footer img
{
    border-radius: 15%;
    max-height: 7em;
}